<div class="content">

  <div class="row">
    <div class="col">
    </div>
    <div class="col-7">

      <%= render 'form' %>

      <div class="mt-3">
        <%= link_to "⟲ Back", articles_path  %>
      </div>
    </div>
    <div class="col">
    </div>

  </div>

</div>
