<div class="content">

  <div class="row">
    <div class="col">
    </div>
    <div class="col-7">
        <div class="content-div">
          <h1>New Article</h1>
        </div>
        <form>
          <div class="form-group">
            <label for="inputtitle">Title</label>
            <input type="text" class="form-control" id="inputtitle" placeholder="Article 1">
          </div>

          <div class="form-group">

          </div>
        </form>
    </div>
    <div class="col">
    </div>

  </div>

</div>

